# Telegram
TELEGRAM_BOT_TOKEN="8529606792:AAFNNFE2yJrmcauBxXAfBYzOMB0C5b-pFJE"
# GoAPI (IDX Stock Data)
GOAPI_KEY="affddd69-4725-55b9-0a39-e7048608"
# Google AI Studio (Gemini)
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyBCEDPpOTXiNR3WRTFNMcr_FYtaCjoOw30"

# Server
PORT=3000
NODE_ENV=development
